<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cis350.upenn.edu.remindmelater">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="cis350.upenn.edu.remindmelater" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.RegisterActivity" />
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.MainScreenActivity" />
        <activity android:name=".Activities.AddReminderActivity" />
        <activity android:name=".Activities.EditReminderActivity" />

        <service android:name=".Notification.ScheduleService" />
        <service android:name=".Notification.NotifyService" />

        <activity
            android:name=".Activities.ReminderActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".Activities.NavigationMenu"
            android:label="@string/title_activity_navigation_menu"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>

    </application>

</manifest>